doctype html
html
    head
        title MingO
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        script(type='application/x-javascript').
            addEventListener("load", function () {
                setTimeout(hideURLbar, 0);
            }, false); function hideURLbar() {
                window.scrollTo(0, 1);
            }
        script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
        link(href='https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css', rel='stylesheet', type='text/css', media='all')
        script(src="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js")
        link(href='/stylesheets/style.css', rel='stylesheet', type='text/css', media='all')
        script(src='/javascripts/dash.js')
        link(rel='shortcut icon', type='image/x-icon', href='./images/5.png')

    body
        .container
            #chat_window_1.row.chat-window.col-xs-5.col-md-3(style="margin-left:10px;")
                .col-xs-12.col-md-12
                    .panel.panel-default
                        .panel-heading.top-bar
                            .col-md-8.col-xs-8
                                h3.panel-title
                                    //span.glyphicon.glyphicon-comment
                                    label#chat_username
                            .col-md-4.col-xs-4(style="text-align: right;")
                                a(href="#")
                                    span#minim_chat_window.glyphicon.glyphicon-minus.icon_minim
                        .panel-body.msg_container_base
                            p
                                | To talk to the MingO chat-bot shoot a message prefixed with '@mingo'
                                |  like '@mingo why did the chicken cross the road?'

                        .panel-footer
                            .input-group
                                input#btn-input.form-control.input-sm.chat_input(type="text" placeholder="Write your message here...")
                                span.input-group-btn
                                    button#btn-chat.btn.btn-primary.btn-sm Send
        .padding-all
            .header
                h1
                    | Mingo - Multiplayer Bingo
            .design-w3l
                .mail-form-agile
                    div#loginWrap(hidden=true)
                        input#usernameField.padding(name='name', placeholder='Username', type='text')
                        input#loginButton(value='Login', type='submit')
                    div#lobbyWrap(hidden=true)
                        input#opponentName(type='text' placeholder='Username')
                        input#invite(type='submit', value='Invite')
                        br
                        input#logoutButton(type='submit', value='Logout')
                    //br
                    //input(type='text' placeholder='Lobby Name')
                    //input#join(type='submit', value='Join')
                    div#gameWrap(hidden=true)
                        label#stateText
                        div#gridWrap
                            table(id='tableGrid')
                                -var n=5;
                                while n-- > 0
                                    -var m=5;
                                    tr
                                        while m-- > 0
                                            td
                                                Button(class='buttonGrid' id=(4 - n) + 'x' + (4 - m))= 0

                .clear
            .footer
                p Made with ❤ by BugSlayers for Code.Fun.Do!
