doctype html
html
    head
        title Mingo | Dash
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        script(type='application/x-javascript').
            addEventListener("load", function () {
                setTimeout(hideURLbar, 0);
            }, false); function hideURLbar() {
                window.scrollTo(0, 1);
            }
        link(href='https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css', rel='stylesheet', type='text/css', media='all')
        script(src="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js")
        script(src="https://code.jquery.com/jquery-1.11.1.min.js")
        link(href='/stylesheets/style.css', rel='stylesheet', type='text/css', media='all')
        script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
        script(src='/javascripts/dash.js')


    body
        .padding-all
            .header
                h1
                    img(src='./images/5.png', alt=' ')
                    | Mingo - Multiplayer Bingo
            .design-w3l
                .mail-form-agile
                    div#loginWrap(hidden=true)
                        input#usernameField.padding(name='name', placeholder='Username', type='text')
                        input#loginButton(value='Login', type='submit')
                    div#lobbyWrap(hidden=true)
                        input#opponentName(type='text' placeholder='Username')
                        input#invite(type='submit', value='Invite')
                        br
                        input#logoutButton(type='submit', value='Logout')
                    //br
                    //input(type='text' placeholder='Lobby Name')
                    //input#join(type='submit', value='Join')
                    div#gameWrap(hidden=true)
                        label#stateText
                        div#gridWrap
                            table(id='tableGrid')
                                -var n=5;
                                while n-- > 0
                                    -var m=5;
                                    tr
                                        while m-- > 0
                                            td
                                                Button(class='buttonGrid' id=(4 - n) + 'x' + (4 - m))= 0

                .clear
                    .container
                        #chat_window_1.row.chat-window.col-xs-5.col-md-3(style="margin-left:10px;")
                            .col-xs-12.col-md-12
                                .panel.panel-default
                                    .panel-heading.top-bar
                                        .col-md-8.col-xs-8
                                            h3.panel-title
                                                span.glyphicon.glyphicon-comment
                                                |  Chat - Miguel
                                        .col-md-4.col-xs-4(style="text-align: right;")
                                            a(href="#")
                                                span#minim_chat_window.glyphicon.glyphicon-minus.icon_minim
                                    .panel-body.msg_container_base
                                        .row.msg_container.base_sent
                                            .col-md-10.col-xs-10
                                                .messages.msg_sent
                                                    p
                                                        | that mongodb thing looks good, huh?
                                                        | tiny master db, and huge document store
                                                    time(datetime="2009-11-13T20:00") Timothy • 51 min
                                            .col-md-2.col-xs-2.avatar
                                                img.img-responsive(src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg")
                                        .row.msg_container.base_receive
                                            .col-md-2.col-xs-2.avatar
                                                img.img-responsive(src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg")
                                            .col-md-10.col-xs-10
                                                .messages.msg_receive
                                                    p
                                                        | that mongodb thing looks good, huh?
                                                        | tiny master db, and huge document store
                                                    time(datetime="2009-11-13T20:00") Timothy • 51 min
                                        .row.msg_container.base_receive
                                            .col-md-2.col-xs-2.avatar
                                                img.img-responsive(src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg")
                                            .col-xs-10.col-md-10
                                                .messages.msg_receive
                                                    p
                                                        | that mongodb thing looks good, huh?
                                                        | tiny master db, and huge document store
                                                    time(datetime="2009-11-13T20:00") Timothy • 51 min
                                        .row.msg_container.base_sent
                                            .col-xs-10.col-md-10
                                                .messages.msg_sent
                                                    p
                                                        | that mongodb thing looks good, huh?
                                                        | tiny master db, and huge document store
                                                    time(datetime="2009-11-13T20:00") Timothy • 51 min
                                            .col-md-2.col-xs-2.avatar
                                                img.img-responsive(src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg")
                                        .row.msg_container.base_receive
                                            .col-md-2.col-xs-2.avatar
                                                img.img-responsive(src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg")
                                            .col-xs-10.col-md-10
                                                .messages.msg_receive
                                                    p
                                                        | that mongodb thing looks good, huh?
                                                        | tiny master db, and huge document store
                                                    time(datetime="2009-11-13T20:00") Timothy • 51 min
                                        .row.msg_container.base_sent
                                            .col-md-10.col-xs-10
                                                .messages.msg_sent
                                                    p
                                                        | that mongodb thing looks good, huh?
                                                        | tiny master db, and huge document store
                                                    time(datetime="2009-11-13T20:00") Timothy • 51 min
                                            .col-md-2.col-xs-2.avatar
                                                img.img-responsive(src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg")
                                    .panel-footer
                                        .input-group
                                            input#btn-input.form-control.input-sm.chat_input(type="text" placeholder="Write your message here...")
                                            span.input-group-btn
                                                button#btn-chat.btn.btn-primary.btn-sm Send

            .footer
                p © 2018 Designed for Code.Fun.Do by Pavan V.
