doctype html
html
    head
        title Mingo
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        script(type='application/x-javascript').
            addEventListener("load", function () {
                setTimeout(hideURLbar, 0);
            }, false); function hideURLbar() {
                window.scrollTo(0, 1);
            }
        link(href='/stylesheets/style.css', rel='stylesheet', type='text/css', media='all')
        link(rel='stylesheet', type='text/css', href='/stylesheets/tabbed-panels.css')
    body
        .padding-all
            .header
                h1
                    img(src='/images/5.png', alt=' ')
                    | Mingo - Multiplayer Bingo
            | &#x9;&#x9;
            .design-w3l
                .mail-form-agile
                    form(action='#', method='post')
                        input.padding(name='name', placeholder='User Name', required='', type='text' autofocus=true)
                        | &#x9;&#x9;&#x9;&#x9;&#x9;
                        input(value='submit', type='submit')
                | &#x9;&#x9;
                .clear
            | &#x9;&#x9;
            | &#x9;&#x9;
            .tabbed(style='padding-left: 130px;padding-right: 130px;')
                input#tabbed1(name='tabbed', checked='', type='radio')
                | &#x9;&#x9;
                section
                    h1
                        label(for='tabbed1') Rules of Play
                    | &#x9;&#x9;
                    div
                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                |       &#x9;&#x9;
                input#tabbed2(name='tabbed', type='radio')
                | &#x9;&#x9;
                section
                    h1
                        label(for='tabbed2') How to Play
                    | &#x9;&#x9;
                    div
                        | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don&apos;t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn&apos;t anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
            | &#x9;&#x9;
            .footer
                p &copy; 2018 Designed for Code.Fun.Do by Pavan V.

